@import 'mix';

$darkblue: #00051b;
$white: #fff;
$red: #dd3131;
$darkred: #f90808;
$semibold: 600;
$blacktext: #020202;
$ln: 26px;
$maxwidth: 1310px;
$gray: #1c1c1c;

body {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 28px 30px 10px 30px;
  align-items: center;
  background-color: $darkblue;
  max-width: $maxwidth;
  width: 100%;
  &-logo {
    img {
      max-width: 114px;
    }
  }
  &-right {
    display: flex;
    align-items: center;
    &__nearby {
      font-size: 24px;
      color: #fff;
      font-weight: bold;;
    }
  }
  @include tablet {
    padding: 15px;
    &-right {
      flex-direction: column;
      align-items: flex-end;
      &__nearby {
        display: none;
      }
    }
  }
}

.slide {
  background-color: $darkblue;
  width: 100%;
  max-width: $maxwidth;
  padding: 0 30px;
  &-container {
    max-width: 2700px;
    width: 100%;
    background-image: url('assets/images/slide-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    height: 415px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &-title {
      color: $white;
      font-size: 55px;
      font-weight: 600;
      margin: 20px 0 0;
    }
    &-subtitle {
      color: $white;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 10px;
    }
    img {
      max-width: 97px;
    }
  }
  @include tablet {
    &-container {
      &-title {
        text-align: center;
      }
      img {
        display: none;
      }
      &-subtitle {
        text-align: center;
      }
    }
  }
}

.button, .button:hover, .button:active, .button:visited {
  background-color: $red;
  color: $white;
  font-size: 13px;
  padding: 9px 55px;
  text-decoration: none;
  font-weight: $semibold;
  @include tablet {
    padding: 9px 20px;
  }
}
.v-separate {
  display: block;
  height: 70px;
  @include tablet {
    height: 5px;
  }
}

.bluecontainer {
  width: 100%;
  background-color: $darkblue;
  display: flex;
  justify-content: center;
  &__column {
    flex-direction: column;
    align-items: center;
  }
}
.whitecontainer {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
}
.box1 {
  width: 100%;
  max-width: $maxwidth;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 50px 30px;
  &-img {
    flex: 1;
    display: flex;
    position: relative;
    justify-content: center;
    img {
      max-width: 100%;
      width: 570px;
      position: absolute;
      top: -100px;
    }
  }
  &-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    &--pretitle {
      color: $darkred;
      font-size: 300;
      font-size: 12px;
      margin-bottom: 8px;
    }
    &--title {
      color: $white;
      font-weight: 700;
      font-size: 24px;
    }
    &--desc {
      &__block {
        color: $white;
        margin-bottom: 20px;
        font-size: 17px;
        font-weight: 300;
        line-height: $ln;
      }
    }
  }
  @include tablet {
    flex-direction: column;
    padding-top: 20px;
    &-img {
      img {
        margin-bottom: 20px;
        max-width: 100%;
        position: relative;
        height: 100%;
        width: 100%;
        top: 0;
      }
    }
  }
}

.box-clients {
  max-width: $maxwidth;
  width: 100%;
  margin: 190px auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px 40px 30px;
  &--banners {
    max-width: 1070px;
    margin: 50px 0 100px 0;
  }
  &--button {
    display: flex;
    margin-bottom: 50px;
  }
  &--lovvett {
    max-width: 390px;
    margin-bottom: 50px;
  }
  &--block {
    color: $blacktext;
    margin-bottom: 20px;
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    line-height: $ln;
    padding: 0 100px;
  }
  @include tablet {
    margin: 10px 0;
    &--banners {
      max-width: 100%;
      margin: 20px 0;
    }
    &--button {
      margin-bottom: 10px;
    }
    &--lovvett {
      max-width: 100%;
      margin: 10px 0;
    }
    &--block {
      padding: 0;
    }
  }
}

.boxnumbers {
  max-width: $maxwidth;
  width: 100%;
  padding: 40px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &-title {
    color: $white;
    max-width: 70%;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 24px;
  }
  &-numbers {
    display: flex;
    flex-wrap: wrap;
    &--box {
      display: flex;
      flex-direction: row;
      width: 33%;
      align-items: center;
      &__number {
        color: $white;
        font-size: 133px;
        font-weight: 700;
        min-width: 120px;
        margin-right: 20px;
        text-align: center;
      }
      &__info {
        display: flex;
        flex-direction: column;
        &-title {
          color: $white;
          font-weight: 600;
          font-size: 20px;
        }
        &-block {
          color: #fcfcfc;
          font-size: 17px;
          font-weight: 300;
          max-width: 75%;
          padding: 0;
          margin: 0;
          line-height: $ln;
        }
        &-block2 {
          max-width: 90%;
        }
      }
      &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 40px 0 30px;
        img {
          max-width: 127px;
        }
      }
    }
  }
  @include tablet {
    padding: 10px 30px;
    &-title {
      max-width: 100%;
    }
    &-numbers {
      &--box {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
}

.boxwhite {
  max-width: $maxwidth;
  width: 100%;
  padding: 80px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  &-info {
    flex: 4;
    &--title {
      color: $blacktext;
      font-weight: 700;
      font-size: 24px;
    }
    &--desc {
      padding-right: 100px;
      &__block {
        color: $blacktext;
        margin-bottom: 20px;
        font-size: 17px;
        font-weight: 300;
        line-height: $ln;
      }
    }
  }
  &-img {
    flex: 3;
    text-align: center;
    img {
      max-width: 365px;
    }
  }
  @include tablet {
    flex-direction: column;
    padding: 20px 15px;
    width: calc(100% - 30px);
    &-info {
      flex: 1;
      &--desc {
        padding: 0;
      }
    }
    &-img {
      flex: 1;
      img {
        max-width: 100%;
      }
    }
  }
}

.brand {
  width: 100%;
  max-width: $maxwidth;
  margin: 50px auto;
  padding: 0 30px;
  &-title {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 40px;
    &__main {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-right: 20px;
      .primary {
        font-weight: 700;
        font-size: 66px;
        color: $white;
      }
      .secondary {
        color: $white;
        font-weight: 500;
        font-size: 19px;
        &__center {
          text-align: center;
          width: 100%;
        }
      }
    }
    &__number {
      color: $white;
      font-size: 224px;
      font-weight: 700;
      line-height: 170px;
    }
  }
  &-block {
    color: $white;
    margin-bottom: 40px;
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    padding: 0 20px;
    line-height: $ln;
    p {
      padding: 0;
      margin: 0;
    }
  }
  &-img {
    margin-bottom: 40px;
    text-align: center;
    &__full {
      max-width: 100%;
    }
    &__mid {
      max-width: 60%;
    }
  }
  @include tablet {
    margin: 20px 0;
    padding: 0 15px;
    &-title {
      &__main {
        .primary {
          font-size: 28px;
        }
      }
      &__number {
        font-size: 120px;
        line-height: 100px;
      }
    }
    &-img {
      margin-bottom: 10px;
      &__mid {
        max-width: calc(100% - 30px);
      }
    }
    &-block {
      padding: 0 15px;
      margin-bottom: 10px;
    }
  }
}

.whiteblue {
  max-width: $maxwidth;
  width: 100%;
  margin: 40px 0;
  display: flex;
  padding: 0 30px;

  &-info {
    padding: 150px 80px;
    display: flex;
    flex: 3;
    flex-direction: column;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    &--title {
      font-size: 15px;
      color: black;
      font-weight: 600;
      margin: 0 0 10px 0;
      padding: 0;
    }
    &--block {
      color: black;
      font-size: 17px;
      font-weight: 300;
      line-height: $ln;
    }
    &--list {
      margin: 0 0 0 20px;
      padding: 0;
      &__item {
        font-size: 17px;
        font-weight: 300;
        color: black;
        line-height: $ln;
      }
    }
    &__white {
      background-color: $white;
      border-color: $white;
      flex: 1;
    }
  }
  &-img {
    display: flex;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $darkblue;
    padding: 100px 60px;
    img {
      max-width: 350px;
    }
    &__white {
      border: 1px solid $white;
      padding: 30px;
      img {
        max-width: 500px;
      }
    }
  }
  @include tablet {
    flex-direction: column-reverse;
    padding: 0 15px;
    width: calc(100% - 30px);
    height: 100%;
    &-info {
      padding: 20px;
      border-right: 1px solid black;
    }
    &-img {
      padding: 20px;
      img {
        max-width: 100%;
      }
    }
  }
}

.column-banner {
  width: 100%;
  max-width: $maxwidth;
  padding: 30px 30px 0 30px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  &-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    &--title {
      padding: 30px 0 0 0;
      img {
        max-width: 90%;
        width: 485px;
      }
      &__4 {
        padding-top: 30px;
        img {
          max-width: 90%;
          width: 510px;
        }
      }
    }
    &--banner {
      img {
        width: 100%;
      }
    }
    &--block {
      .block {
        text-align: left;
        max-width: 90%;
        width: 485px;
        margin-bottom: 30px;
      }
      .block__right {
        text-align: right !important;
        width: 100%;
        max-width: 100%;
      }
      &__title {
        color: #666;
        font-size: 15px;
      }
    }
    &__row {
      background-color: $darkblue;
      flex-direction: row;
      .column-banner-box--block {
        padding: 80px 10px 0 10px;
        width: 55%;
      }
      .column-banner-box--title {
        width: 45%;
        img {
          margin-left: 30px;
          width: 215px;
        }
      }
    }
    &__seven {
      .column-banner-box--block {
        padding: 0 20px 60px 40px;
      }
      .column-banner-box--title {
        img {
          margin-left: 80px;
          width: 388px;
        }
      }
    }
    &__blue {
      background-color: $darkblue;
      padding-bottom: 30px;
    }
  }
  &__blue {
    background-color: $darkblue;
  }
  &__fluid {
    margin-bottom: 0;
  }
  @include tablet {
    width: calc(100% - 30px);
    padding: 15px;
    flex-direction: column;
    height: 100%;
    &-box {
      width: 100%;
      padding: 0;
      height: 100%;
      &--title {
        padding: 0;
        height: auto;
        img {
          width: 100%;
          max-width: 100%;
        }
        &__4 {
          padding-top: 0;
          max-height: 100%;
          img {
            width: 100%;
          }
        }
      }
      &--block {
        padding: 10px 0;
        .block {
          width: 100%;
        }
      }

      &__row {
        flex-direction: column;
        .column-banner-box--block {
          padding: 10px 15px;
          width: calc(100% - 30px);
        }
        .column-banner-box--title {
          width: 100%;
          text-align: center;
          padding: 10px 0;
          img {
            margin-left: 0;
            max-width: 100%;
          }
        }
      }
      &__seven {
        padding: 20px 0;
        .column-banner-box--block {
          padding: 15px;
        }
        .column-banner-box--title {
          img {
            margin-left: 0;
            width: 388px;
            max-width: 100%;
          }
        }
      }
      &__blue {
        background-color: $darkblue;
        padding: 30px;
        width: calc(100% - 60px);
      }
    }
  }
}

.channel {
  width: 100%;
  max-width: $maxwidth;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &-link {
    margin: 100px 0;
  }
  &-title {
    display: flex;
    flex-direction: row;
    color: $white;
    margin-bottom: 20px;
    &--img {
      display: flex;
      flex: 1;
      justify-content: flex-end;
      padding-right: 15px;
      img {
        max-width: 136px;
      }
    }
  }
  &-titlewrap {
    display: flex;
    flex-direction: column;
    flex: 5;
    &--main {
      font-size: 50px;
      font-weight: 700;
      padding-top: 3px;
      margin-bottom: 3px;
    }
    &--subtitle {
      font-size: 18px;
      margin-bottom: 3px;
      font-weight: 600;
    }
    &--block {
      .block {
        text-align: left;
      }
    }
  }
  &-banner {
    padding-bottom: 50px;
    img {
      max-width: 1150px;
    }
  }
  @include tablet {
    width: calc(100% - 30px);
    padding: 15px;
    &-link {
      margin: 30px 0;
    }
    &-title {
      flex-direction: column;
      &--img {
        justify-content: center;
        img {
          max-width: 40%;
          width: 100%;
          height: 100%;
        }
      }
    }
    &-titlewrap {
      &--main {
        font-size: 35px;
        margin-bottom: 7px;
      }
      &--subtitle {
        font-size: 17px;
        margin-bottom: 7px;
      }
    }
    &-banner {
      padding-bottom: 10px;
      img {
        max-width: 100%;
      }
    }
  }
}

.about {
  display: flex;
  width: calc(100% - 60px);
  max-width: $maxwidth;
  padding: 100px 30px;
  flex-direction: column;
  background-color: $gray;
  justify-content: center;
  align-items: center;
  &-title {
    color: $white;
    font-size: 38px;
    font-weight: 500;
    margin-bottom: 10px;
    letter-spacing: 5px;
  }
  &-message {
    display: flex;
    .profile {
      display: flex;
      flex: 1;
      padding-left: 20px;
    }
    .text {
      color: $white;
      padding: 0 100px 0 30px;
      .block {
        text-align: left;
        font-style: italic;
      }
    }
    &__right {
      padding-right: 10px;
      padding-left: 230px;
      .text {
        padding-top: 50px;
        padding-right: 10px;
        .block {
          text-align: right;
        }
      }
    }
  }
  @include tablet {
    width: calc(100% - 30px);
    padding: 40px 15px;
    &-title {
      text-align: center;
      font-size: 30px;
    }
    &-message {
      flex-direction: column;
      .profile {
        padding:  15px 0;
      }
      .text {
        padding: 0;
      }
      &__right {
        padding: 20px 0 0 0;
        flex-direction: column-reverse;
        .text {
          padding-top: 10px;
          padding-right: 10px;
        }
      }
    }
  }
}

.form {
  display: flex;
  width: 100%;
  max-width: $maxwidth;
  padding: 50px 30px;
  background-color: $gray;
  justify-content: center;
  align-items: center;
  &-info {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding-right: 35px;
    flex: 0.80;
    img {
      max-width: 223px;
    }
    .block {
      text-align: right;
      padding-right: 3px;
      color: $white;
    }
  }
  &-contact {
    flex: 1;
    display: flex;
    form {
      width: 100%;
    }
  }
  @include tablet {
    width: calc(100% - 30px);
    padding: 20px 15px;
    flex-direction: column;
    &-info {
      padding: 0;
      align-items: center;
    }
    &-contact {
      width: 100%;
      padding-top: 30px;
    }
  }
}

.footer {
  display: flex;
  width: 100%;
  max-width: $maxwidth;
  padding: 50px 30px;
  background-color: $gray;
  justify-content: center;
  align-items: flex-start;
  &-box {
    display: flex;
    flex: 1;
    flex-direction: column;
    &--title {
      color: $white;
      margin: 0 0 3px 0;
      font-size: 12px;
      font-weight: 700;
    }
    &--desc {
      .block {
        text-align: left;
        font-size: 11px;
        line-height: 22px;
      }
    }
    &--img {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 20px;
      .in {
        width: 48px;
      }
      .chevron {
        width: 90px;
      }
    }
    &__img {
      flex: .5;
    }
  }
  @include tablet {
    width: calc(100% - 30px);
    padding: 0 15px;
    flex-direction: column;
    &-box {
      width: 100%;
      margin-bottom: 20px;
      text-align: center;
      &--title {
        font-size: 16px;
      }
      &--desc {
        .block {
          text-align: center;
          font-size: 14px;
        }
      }
    }
  }
}

.copyright {
  display: flex;
  width: 100%;
  max-width: $maxwidth;
  padding: 0 30px 30px;
  background-color: $gray;
  justify-content: center;
  align-items: center;
  .block {
    color: #f9f7f7;
    font-size: 10px;
  }
  @include tablet {
    padding: 0;
  }
}

// common
.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  label {
    color: #fcfcfc;
    font-size: 11px;
    padding-bottom: 5px;
  }
  &-input {
    background-color: $gray;
    color: #f5f5f5;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #f5f5f5;
    width: 60%;
    padding: 5px;
    &__textarea {
      height: 40px;
    }
    @include tablet {
      width: calc(100% - 10px);
    }
  }
  .button {
    border: none;

  }
  &__action {
    display: block;
    text-align: center;
  }
}
.profile {
  color: $white;
  display: flex;
  flex-direction: column;
  text-align: center;
  &-img {
    img {
      max-width: 230px;
    }
  }
  &-title {
    font-weight: 700;
  }
  &-position {
    font-size: 12px;
    color: #f9f7f7;
  }
}
.block {
  color: $blacktext;
  font-size: 17px;
  font-weight: 300;
  text-align: center;
  line-height: $ln;
  margin: 0 0 5px 0;
  &__blue {
    color: white;
  }
  &__right {
    text-align: right;
  }
  @include tablet {
    &__right {
      text-align: left;
    }
  }
}

.list {
  color: white;
  margin: 0;
  padding-left: 16px;
  li {
    font-size: 17px;
    font-weight: 300;
    line-height: $ln;
  }
  &__blue {
    color: $blacktext;
  }
  &__clean {
    list-style: none;
  }
  &__right {
    li {
      text-align: right;
      list-style: inside;
    }
  }
  @include tablet {
    &__right {
      li {
        text-align: left !important;
        list-style: outside;
      }
    }
  }
}